<!DOCTYPE html>
<html lang="es-AR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EDSI - Escuela de Seguridad Industrial en Buenos Aires ofrece capacitación presencial para empresas y particulares con instructores expertos en prevención, respuesta ante emergencias y seguridad industrial. Cursos prácticos en terreno para mejorar la prevención y el desempeño laboral.">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  {% if page.css %}
  <link rel="stylesheet" href="{{ site.baseurl }}{{ page.css }}">
  {% endif %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KDD268SJ');</script>
  <!-- End Google Tag Manager -->
  

</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDD268SJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  <script src="{{ site.baseurl }}/script.js"></script>
  {% if page.js %}
  <script src="{{ site.baseurl }}{{ page.js }}"></script>
  {% endif %}
</body>
</html>
