<!DOCTYPE html>
<html lang="es-AR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="EDSI - Escuela de Seguridad Industrial en Buenos Aires ofrece capacitación presencial para empresas y particulares con instructores expertos en prevención, respuesta ante emergencias y seguridad industrial. Cursos prácticos en terreno para mejorar la prevención y el desempeño laboral.">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  {% if page.css %}
  <link rel="stylesheet" href="{{ site.baseurl }}{{ page.css }}">
  {% endif %}
  <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1724838001562713');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1724838001562713&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
  

</head>
<body>
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  <script src="{{ site.baseurl }}/script.js"></script>
  {% if page.js %}
  <script src="{{ site.baseurl }}{{ page.js }}"></script>
  {% endif %}
</body>
</html>
